# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
env/
venv/
.env/
.venv/
venv.bak/
ENV/

# Sphinx documentation
docs/_build/

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json

# Jupyter Notebook
.ipynb_checkpoints

# Misc
*.log
*.sqlite
*.h5ad