# Temp files
.DS_Store
*~
buck-out/

# Compiled files
.venv/
__pycache__/
.*cache/
*.pyc
*.pyo
*.egg-info/
*.egg

# Distribution / packaging
/dist/
/build/

# Tests and coverage
/data/
/node_modules/
/.coverage*
htmlcov/
.tox/
.pytest_cache/

# docs
/docs/generated/
/docs/_build/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/

# Model outputs
*.pt
*.h5ad
*.h5mu

# Local testing
/test-registries/
/scvi_log/
lightning_logs/
